

			<div class="section">
				<div class="container">
					<!-- row-->
					<div class="row">	
					<!-- /post -->
					<div class="col-md-12">
						<div class="col-md-8">
						<div class="section-title">
							<h2>Tin nổi bật</h2>
						</div>
					</div>		
					<div class="col-md-8">
						
						<div class="post post-thumb">
							<a class="post-img" href="/post/view/{{this.lcPost1.PostID}}"><img src="{{this.lcPost1.AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{this.lcPost1.CatID}}" href="/post/category/{{this.lcPost1.CatID}}">{{this.lcPost1.CatName}}</a>
									<a class="post-category cat-{{this.lcPost1.CatID}}" href="/post/childcategory/{{this.lcPost1.ChildID}}">{{this.lcPost1.ChildName}}</a>
									<span class="post-date">{{this.lcPost1.NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{this.lcPost1.PostID}}">{{this.lcPost1.TieuDe}}</a></h3>
							</div>
						</div>
					</div>
					<!-- post -->
					<div class="col-md-4">
						<!--post-->
							<div class="post post-thumb">
							<a class="post-img" href="/post/view/{{this.lcPost2.PostID}}"><img src="{{this.lcPost2.AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{this.lcPost2.CatID}}" href="/post/category/{{this.lcPost2.CatID}}">{{this.lcPost2.CatName}}</a>
									<a class="post-category cat-{{this.lcPost2.CatID}}" href="/post/childcategory/{{this.lcPost2.ChildID}}">{{this.lcPost2.ChildName}}</a>
									<span class="post-date">{{this.lcPost2.NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{this.lcPost2.PostID}}">{{this.lcPost2.TieuDe}}</a></h3>
							</div>
						</div>
						<!--post-->
						<!--post-->
							<div class="post post-thumb">
							<a class="post-img" href="/post/view/{{this.lcPost3.PostID}}"><img src="{{this.lcPost3.AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{this.lcPost3.CatID}}" href="/post/category/{{this.lcPost3.CatID}}">{{this.lcPost3.CatName}}</a>
									<a class="post-category cat-{{this.lcPost3.CatID}}" href="/post/childcategory/{{this.lcPost3.ChildID}}">{{this.lcPost3.ChildName}}</a>
									<span class="post-date">{{this.lcPost3.NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{this.lcPost3.PostID}}">{{this.lcPost3.TieuDe}}</a></h3>
							</div>
						</div>
						<!--post-->
								
					</div>
					</div>
				</div>
			</div>
		</div>

			<!--tinnoibat-->
			<div class="section">
				<div class="container">
				<div class="row">
					<div class="col-md-8">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Bài viết mới</h2>
						</div>
					</div>
					<!-- /post -->
					{{#each lcPost}}	
					<div class="col-md-6">		
										
						<div class="post">
							<a class="post-img" href="/post/view/{{PostID}}"><img style="height: 200px; width:350px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{PostID}}">{{{TieuDe}}}</a></h3>
							</div>
						</div>
							
					</div>
					{{/each}}
					<div class="col-md-12">
						<div class="section-title">
							<h2>Xem nhiều nhất</h2>
						</div>
					</div>
					{{#each lcTopPost}}
					<div class="col-md-12">
					<div class="post post-row">
							<a class="post-img" href="/post/view/{{PostID}}"><img style="height: 180px; width:300px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
									<h3 class="post-title"><a href="/post/view/{{PostID}}">{{{TieuDe}}}</a></h3>
								<p>{{TomTat}}</p>
							</div>
						</div>
					</div>
					{{/each}}
					<div class="col-md-12">
						<div class="section-title">
							<h2>Bài Premium</h2>
						</div>
					</div>
					{{#each lcPremium}}
					<div class="col-md-12">
					<div class="post post-row">
							<a class="post-img" href="/post/view/{{PostID}}"><img style="height: 180px; width:300px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
									<h3 class="post-title"><a href="/post/view/{{PostID}}">{{{TieuDe}}}</a></h3>
								<p>{{TomTat}}</p>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
					<!-- post -->
	
					<!-- post -->
					<div class="col-md-4">
						<!-- catagories -->
						<div class="aside-widget">
						
						<div class="aside-widget">
							<div class="section-title">
							<h2 href="#">Tags</h2>
							</div>
							<div class="tags-widget">								
								<ul>
									{{#each tag}}
									<li><a href="/post/tag/{{TagID}}">{{TagName}}</a></li>							
									{{/each}}
								</ul>
							</div>
						</div>
						<!-- /tags -->
						
					</div>

				</div>
				<!-- /tags -->
					
				</div>
			</div>



			