

			<div class="section">
				<div class="container">
					<!-- row-->
					<div class="row">	
					<!-- /post -->
					<div class="col-md-12">
						<div class="col-md-8">
						<div class="section-title">
							<h2>Tin nổi bật</h2>
						</div>
					</div>		
					<div class="col-md-8">
						
						<div class="post post-thumb">
							<a class="post-img" href="/post/view/{{this.lcPost1.PostID}}"><img src="{{this.lcPost1.AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{this.lcPost1.CatID}}" href="/post/category/{{this.lcPost1.CatID}}">{{this.lcPost1.CatName}}</a>
									<a class="post-category cat-{{this.lcPost1.CatID}}" href="/post/childcategory/{{this.lcPost1.ChildID}}">{{this.lcPost1.ChildName}}</a>
									<span class="post-date">{{this.lcPost1.NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{this.lcPost1.PostID}}">{{this.lcPost1.TieuDe}}</a></h3>
							</div>
						</div>
					</div>
					<!-- post -->
					<div class="col-md-4">
						<!--post-->
							<div class="post post-thumb">
								<a class="post-img" href="pagechitiet.html"><img src="./img/quocte.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="pagecategory.html">Kinh tế</a>
										<a class="post-category cat-1" href="pagecategory2.html">Quốc tế</a>
										<span class="post-date">30-04-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Sự trổi dậy của Singapore</a></h3>
								</div>
							</div>
						<!--post-->
						<!--post-->
							<div class="post post-thumb">
								<a class="post-img" href="pagechitiet.html"><img src="./img/congnghe.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="pagecategory.html">Công nghệ</a>
										<a class="post-category cat-2" href="pagecategory2.html">Sản phẩm mới</a>
										<span class="post-date">29-03-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Galaxy S10 sẽ được hỗ trợ sạc nhanh 25W thông qua bản cập nhật OTA</a></h3>
								</div>
							</div>
						<!--post-->
								
					</div>
					</div>
				</div>
			</div>
		</div>

			<!--tinnoibat-->
			<div class="section">
				<div class="container">
				<div class="row">
					<div class="col-md-8">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Bài viết mới</h2>
						</div>
					</div>
					<!-- /post -->
					{{#each lcPost}}	
					<div class="col-md-6">		
										
						<div class="post">
							<a class="post-img" href="/post/view/{{PostID}}"><img style="height: 200px; width:350px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{PostID}}">{{{TieuDe}}}</a></h3>
							</div>
						</div>
							
					</div>
				{{/each}}
				</div>
					<!-- post -->
	
					<!-- post -->
					<div class="col-md-4">
						<!-- catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Top chuyên mục</h2>
							</div>
							
							<div class="category-widget top-cat">
								<ul>
									<li><a href="pagecategory2.html" class="cat-3">Bóng đá (Thể thao)</a>
									<ul>
									<li><!--post-->
									<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>
										<!--post-->
									</li>
									</ul>
									</li>
								
									<li><a href="pagecategory2.html" class="cat-3">Bóng rổ (Thể thao)</a>
										<ul>
									<li><!--post-->
									<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-2">Game (Công nghệ)</a>
										<ul>
									<li><!--post-->
									<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/congnghe.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="pagecategory.html">Công nghệ</a>
										<a class="post-category cat-2" href="pagecategory2.html">Sản phẩm mới</a>
										<span class="post-date">29-03-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Galaxy S10 sẽ được hỗ trợ sạc nhanh 25W thông qua bản cập nhật OTA</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-2">Sản phẩm mới (Công nghệ)</a>
									<ul>
									<li><!--post-->
									<<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/congnghe.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="pagecategory.html">Công nghệ</a>
										<a class="post-category cat-2" href="pagecategory2.html">Sản phẩm mới</a>
										<span class="post-date">29-03-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Galaxy S10 sẽ được hỗ trợ sạc nhanh 25W thông qua bản cập nhật OTA</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-1">Thị trường (Kinh tế)</a>
									<ul>
									<li><!--post-->
									<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/quocte.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="pagecategory.html">Kinh tế</a>
										<a class="post-category cat-1" href="pagecategory2.html">Quốc tế</a>
										<span class="post-date">30-04-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Sự trổi dậy của Singapore</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-4">Khỏe đẹp (Sức khỏe)</a>
									<ul>
									<li><!--post-->
									<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/suckhoe.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-4" href="pagecategory.html">Sức khỏe</a>
									<a class="post-category cat-4" href="pagecategory2.html">Tư vấn</a>
									<span class="post-date">05-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Dấu hiệu sớm cảnh báo ung thư đại tràng</a></h3>
							</div>
						</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-2">Game (Công nghệ)</a>
										<ul>
									<li><!--post-->
									<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/congnghe.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="pagecategory.html">Công nghệ</a>
										<a class="post-category cat-2" href="pagecategory2.html">Sản phẩm mới</a>
										<span class="post-date">29-03-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Galaxy S10 sẽ được hỗ trợ sạc nhanh 25W thông qua bản cập nhật OTA</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-2">Sản phẩm mới (Công nghệ)</a>
									<ul>
									<li><!--post-->
									<<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/congnghe.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="pagecategory.html">Công nghệ</a>
										<a class="post-category cat-2" href="pagecategory2.html">Sản phẩm mới</a>
										<span class="post-date">29-03-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Galaxy S10 sẽ được hỗ trợ sạc nhanh 25W thông qua bản cập nhật OTA</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-1">Thị trường (Kinh tế)</a>
									<ul>
									<li><!--post-->
									<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/quocte.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="pagecategory.html">Kinh tế</a>
										<a class="post-category cat-1" href="pagecategory2.html">Quốc tế</a>
										<span class="post-date">30-04-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Sự trổi dậy của Singapore</a></h3>
								</div>
							</div>
										<!--post-->
									</li>
									</ul>
									</li>
									<li><a href="pagecategory2.html" class="cat-4">Khỏe đẹp (Sức khỏe)</a>
									<ul>
									<li><!--post-->
									<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/suckhoe.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-4" href="pagecategory.html">Sức khỏe</a>
									<a class="post-category cat-4" href="pagecategory2.html">Tư vấn</a>
									<span class="post-date">05-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Dấu hiệu sớm cảnh báo ung thư đại tràng</a></h3>
							</div>
						</div>
										<!--post-->
									</li>
									</ul>
									</li>
								</ul>
							</div>
						</div>
						<!-- /catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Chuyên mục</h2>
							</div>
							<div class="category-widget">
								<ul>
									<li><a href="pagecategory.html" class="cat-1">Kinh tế<span>340</span></a></li>
									<li><a href="pagecategory.html" class="cat-2">Công nghệ<span>74</span></a></li>
									<li><a href="pagecategory.html" class="cat-4">Thể thao<span>41</span></a></li>
									<li><a href="pagecategory.html" class="cat-3">Sức khỏe<span>35</span></a></li>
								</ul>
							</div>
						</div>
						<!-- tags -->
						<div class="aside-widget">
							<div class="section-title">
							<h2 href="#">Tags</h2>
							</div>
							<div class="tags-widget">
								<ul>
									<li><a href="dsbaiviettag.html">MU</a></li>
									<li><a href="dsbaiviettag.html">Bệnh</a></li>
									<li><a href="dsbaiviettag.html">Ung thư</a></li>
									<li><a href="dsbaiviettag.html">Kinh doanh</a></li>
									<li><a href="dsbaiviettag.html">Làm giàu</a></li>
									<li><a href="dsbaiviettag.html">Cúp C1</a></li>
									<li><a href="dsbaiviettag.html">Mourinho</a></li>
		
								</ul>
							</div>
						</div>
						<!-- /tags -->
						
					</div>

				</div>
				<!-- /tags -->
					
				</div>
			</div>



			