<!-- Page Header --> {{#each this.post}}
						<div id="post-header" class="page-header">
							<div class="background-img" style="background-image: url('{{AnhBia}}');"></div>
							<div class="container">
								<div class="row">
									<div class="col-md-10">
										<div class="post-meta">
											<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
											<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
											<span class="post-date">{{NgayXuatBanFormat}}</span>
										</div>
										<h1>{{TieuDe}}</h1>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						<!-- /Page Header -->
                  
<div class="section">	
			<div class="container">
				<div class="row">
					<div class="col-md-8">
							<div class="post-main">
								{{#each this.post}}
								{{{NoiDung}}}
							{{/each}}

							</div>
						
						<!-- tags -->
						
					
				
					</div>
					<div class="col-md-4">
						<div class="section-tiltle">
							<h2>Cùng chuyên mục</h2>
						</div>
						<div class="col-md-12">
							{{#each lcallbycat}}
						<div class="post">
							<a class="post-img" href="/post/view/{{PostID}}"><img src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{PostID}}">{{TieuDe}}</a></h3>
							</div>
						</div>
						{{/each}}
						
						
						
						
					</div>				
					</div>

				</div>				
					<!--x-->

			</div>				
			</div>