<!-- Page Header --> {{#each this.post}}
						<div id="post-header" class="page-header">
							<div class="background-img" style="background-image: url('{{AnhBia}}');"></div>
							<div class="container">
								<div class="row">
									<div class="col-md-10">
										<div class="post-meta">
											<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
											<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
											<span class="post-date">{{NgayXuatBanFormat}}</span>
										</div>
										<h1>{{TieuDe}}</h1>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						<!-- /Page Header -->
                  
<div class="section">	
			<div class="container">
				<div class="row">
					<div class="col-md-8">
							<div class="post-main">
								{{#each this.post}}
								{{{NoiDung}}}
							{{/each}}

							</div>
						
						<!-- tags -->
						<div class="aside-widget">
							<div class="section-title">
							<h2 href="#">Tags</h2>
							</div>
							<div class="tags-widget">
								<ul>
									<li><a href="dsbaiviettag.html">Thể thao</a></li>
									<li><a href="dsbaiviettag.html">Bóng đá</a></li>
									<li><a href="dsbaiviettag.html">Mourinho</a></li>
									<li><a href="dsbaiviettag.html">MU</a></li>
									<li><a href="dsbaiviettag.html">Ngoại hạng anh</a></li>
				
								</ul>
							</div>
						</div>
						<!-- author -->
						<div class="section-row">
							<div class="post-author">
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="../img/author.png" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h3>Thể thao 247</h3>
										</div>
										<p></p>
										<ul class="author-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /author -->	
				<!-- comments -->
						<div class="section-row">
							<div class="section-title">
								<h2>3 Bình luận</h2>
							</div>

							<div class="post-comments">
								<!-- comment -->
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="./img/avatar.png" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h4>Nguyễn Văn A</h4>
											<span class="float-right"><i class="text-warning fa fa-star"></i></span>
							                        <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
											<span class="time">05-05-2019 at 8:00 am</span>
										</div>
										<p>Hay. Tuyệt vời.</p>
										<p>
					        	            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
					        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
					        	       </p>

										<!-- comment -->
										<div class="media">
											<div class="media-left">
												<img class="media-object" src="./img/avatar.png" alt="">
											</div>
											<div class="media-body">
												<div class="media-heading">
													<h4>Nguyễn Văn B</h4>
													<span><i class="text-warning fa fa-star"></i></span>
							                        <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
													<span class="time">05-05-2019 at 8:00 am</span>
												</div>
												<p>Hihihi.</p>
												<p>
							        	            <a class="btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
							        	            <a class="btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
							        	       </p>
											</div>
										</div>
										<!-- /comment -->
									</div>
								</div>
								<!-- /comment -->

								<!-- comment -->
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="./img/avatar.png" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h4>Trần Văn C</h4>
											<span><i class="text-warning fa fa-star"></i></span>
							                        <span><i class="text-warning fa fa-star"></i></span>
							        	            <span><i class="text-warning fa fa-star"></i></span>
											<span class="time">05-05-2019 at 8:00 am</span>
										</div>
										<p>Chỉ là biện hộ.</p>
										<p>
					        	            <a class="btn btn-outline-primary"> <i class="fa fa-reply"></i> Reply</a>
					        	            <a class="btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
					        	       </p>
									</div>
								</div>
								<!-- /comment -->
							</div>
						</div>
						<!-- /comments -->
						<!-- reply -->
						<div class="section-row">
							<div class="section-title">
								<h2>Để lại bình luận</h2>
							</div>
							<form class="post-reply">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<span>Tên *</span>
											<input class="input" type="text" name="name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<span>Website</span>
											<input class="input" type="text" name="website">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<span>Bình luận*</span>
											<textarea class="input" name="message" placeholder=""></textarea>
										</div>
										<button class="pr-button">Gửi</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /reply -->
							
					</div>
					<div class="col-md-4">
						<div class="section-tiltle">
							<h2>Cùng chuyên mục</h2>
						</div>
						<div class="col-md-12">
							{{#each postcat}}
						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src=".{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">{{TieuDe}}</a></h3>
							</div>
						</div>
						{{/each}}
						
						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>

						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>

						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>

						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>
						<!-- /catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Chuyên mục</h2>
							</div>
							<div class="category-widget">
								<ul>
									<li><a href="pagecategory.html" class="cat-1">Kinh tế<span>340</span></a></li>
									<li><a href="pagecategory.html" class="cat-2">Công nghệ<span>74</span></a></li>
									<li><a href="pagecategory.html" class="cat-4">Thể thao<span>41</span></a></li>
									<li><a href="pagecategory.html" class="cat-3">Sức khỏe<span>35</span></a></li>
								</ul>
							</div>
						</div>
						<div class="section-tiltle">
							<h2>Tin mới nhất</h2>
						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>
						<!--post-->
							<div class="post">
								<a class="post-img" href="pagechitiet.html"><img src="./img/quocte.jpg" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-1" href="pagecategory.html">Kinh tế</a>
										<a class="post-category cat-1" href="pagecategory2.html">Quốc tế</a>
										<span class="post-date">30-04-2019</span>
									</div>
									<h3 class="post-title"><a href="pagechitiet.html">Sự trổi dậy của Singapore</a></h3>
								</div>
							</div>
						<!--post-->
						<div class="post">
							<a class="post-img" href="pagechitiet.html"><img src="./img/bia-bongda1.jpg" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-3" href="pagecategory.html">Thể thao</a>
									<a class="post-category cat-3" href="pagecategory2.html">Bóng đá</a>
									<span class="post-date">02-05-2019</span>
								</div>
								<h3 class="post-title"><a href="pagechitiet.html">Mourinho chê bai MU, ghen tị với Guardiola và Klopp</a></h3>
							</div>
						</div>
						
					</div>				
					</div>

				</div>				
					<!--x-->

			</div>				
			</div>