 <div class="aside-widget">
                            
							<div class="section-title">
							<h2 href="#">Bài chờ duyệt</h2>
                        </div>
			
						</div>
            {{#each lcChoduyet}}
							<div class="post post-row">
							<a class="post-img" href="#"><img style="height: 180px; width:310px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="#">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="#">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="#">{{TieuDe}}</a></h3>
								<p>{{TomTat}}</p>
                                 <button type="submit" class="btn btn-primary" onclick="window.location.href = '/writer/edit/{{PostID}}'">
                                    <i class="fa fa-edit" aria-hidden="true" ></i>
                                    Sửa bài
                                </button>     
							</div>
						</div>
            {{/each}}
            <div class="aside-widget">
                            
							<div class="section-title">
							<h2 href="#">Bài đã xuất bản</h2>
                        </div>
			
						</div>
            {{#each xuatban}}
							<div class="post post-row">
							<a class="post-img" href="/post/view/{{PostID}}"><img style="height: 180px; width:310px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="/post/category/{{CatID}}">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="/post/childcategory/{{ChildID}}">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="/post/view/{{PostID}}">{{TieuDe}}</a></h3>
								<p>{{TomTat}}</p>                                 
							</div>
						</div>
            {{/each}}
             <div class="aside-widget">
                            
							<div class="section-title">
							<h2 href="#">Bài bị từ chối</h2>
                        </div>
			
						</div>
              {{#each tuchoi}}
							<div class="post post-row">
							<a class="post-img" href="#"><img style="height: 180px; width:310px" src="{{AnhBia}}" alt=""></a>
							<div class="post-body">
								<div class="post-meta">
									<a class="post-category cat-{{CatID}}" href="#">{{CatName}}</a>
									<a class="post-category cat-{{CatID}}" href="#">{{ChildName}}</a>
									<span class="post-date">{{NgayXuatBanFormat}}</span>
								</div>
								<h3 class="post-title"><a href="#">{{TieuDe}}</a></h3>
								<p>{{TomTat}}</p>
                                 <button type="submit" class="btn btn-primary" onclick="window.location.href = '/writer/edit/{{PostID}}'">
                                    <i class="fa fa-edit" aria-hidden="true" ></i>
                                    Sửa bài
                                </button>     
							</div>
						</div>
            {{/each}}