<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Báo Điện Tử TH16 - News</title>

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>


		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet"> 
		<link rel="stylesheet" href="/css/font-awesome.min.css">
			<link type="text/css" rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
</head>
<body>
	<header>
		<div id="nav">
		<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="/home" class="logo">TH16 - News</a>
						</div>
						<!-- /logo -->

						<!-- nav -->
							<ul class="nav-menu nav navbar-nav">
								<li><a href="index.html">Trang chủ</a></li>
								{{#each this.parents}}
								<li class="cat-{{CatID}}"><a href="pagecategory.html">{{CatName}}</a>
								<ul>
									{{#each this.child}}
								<li class="cat-{{Parent}}"><a href="pagecategory2.html">{{ChildName}}</a></li>
								{{/each}}
								</ul>
								</li>{{/each}}
							</ul>
						<!-- /nav -->

						<!-- search & aside toggle -->
						<div class="nav-btns">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Tài khoản <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="login.html">Đăng nhập</a></li>
							    <li><a href="signup.html">Đăng ký</a></li>
							    <li><a href="">Quản lý tài khoản</a></li>
							    <li><a href="dangbai.html">Viết bài</a></li>
							  </ul>
							</div>
							<button class="search-btn"><i class="fa fa-search"></i></button>
							<div class="search-form">
								<input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
								<button class="search-close"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<!-- /search & aside toggle -->
					</div>
				</div>
			</div>
			</header>
            
  <body>
    
			<!-- /Page Header -->
      <div class="section">
        <div class="container">
          <div class="row">
          <div class="col-md-3">
            <div class="list-group">

	<a href="/admin/user" class="list-group-item list-group-item-action {{#if useractive}}active{{/if}}">Quản lý thành viên</a>
 	<a href="/admin/category" class="list-group-item list-group-item-action {{#if cateactive}}active{{/if}}">Quản lý chuyên mục</a>
  	<a href="#" class="list-group-item list-group-item-action">Quản lý bài viết</a>
</div>
          </div>
		  <div class="col-md-9">
			 {{{body}}}
		  </div>
           
          </div>
            
        </div>
      </div>
    
 
  </body>


			<!-- Footer -->
		<footer id="footer">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-5">
						<div class="footer-widget">
							<div class="footer-logo">
								<a href="index.html" class="logo">TH16 - News</a>
							</div>
							<ul class="footer-nav">
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Advertisement</a></li>
							</ul>
							<div class="footer-copyright">
								<span>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by AnHoa - Template tham khảo: <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">About Us</h3>
									<ul class="footer-links">
										<li><a href="about.html">About Us</a></li>
										
										<li><a href="contact.html">Contacts</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="footer-widget">
									<h3 class="footer-title">Chuyên mục</h3>
									<ul class="footer-links">
										<li><a href="pagecategory.html">Kinh tế</a></li>
										<li><a href="pagecategory.html">Công nghệ</a></li>
										<li><a href="pagecategory.html">Thể thao</a></li>
										
										<li><a href="pagecategory.html">Sức khỏe</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="footer-widget">
							<h3 class="footer-title">Tham gia cùng chúng tôi</h3>
							<div class="footer-newsletter">
								<form>
									<input class="input" type="email" name="newsletter" placeholder="Enter your email">
									<button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
								</form>
							</div>
							<ul class="footer-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
		<!-- /Footer -->

		<!-- jQuery Plugins -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/jquery.datetimepicker.full.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script>
</body>
</html>