{{#each post}}
                <div class="form-panel">
                <div class=" form">
                    <form class="cmxform form-horizontal style-form" id="commentForm" method="POST">
                         <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Tác giả</label>
                        <div class="col-lg-10">
                        <input readonly class=" form-control" style="height: 35px; width:700px;"id="cname" name="" minlength="2" type="text" value="{{UName}}" required />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Tiêu đề</label>
                        <div class="col-lg-10">
                            <input type="hidden" name="PostID" value="{{PostID}}">
                        <input readonly class=" form-control" style="height: 35px; width:700px;"id="cname" name="tieude" minlength="2" type="text" value="{{TieuDe}}" required />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-2">Nội dung ngắn</label>
                        <div class="col-lg-10">
                        <input readonly class=" form-control" style="height: 35px; width:700px;" id="cname" name="noidungngan" minlength="2" type="text" value="{{TomTat}}"required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cemail" class="control-label col-lg-2">Chuyên mục cha</label>
                        <div class="col-lg-10">
                            <select readonly class=" form-control" name="category">
                
                                <option value="{{CatID}}">{{CatName}}</option>
               
                            </select>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="cemail" class="control-label col-lg-2">Chuyên mục con</label>
                        <div class="col-lg-10">
                            <select readonly class=" form-control" name="childcategory">
                            
                                <option value="{{ChildID}}">{{ChildName}}</option>
                     
                            </select>
                        </div> 
                    </div>
                    <div class="form-group ">
                        <label for="curl" class="control-label col-lg-2">Ảnh bìa</label>
                        <div class="col-lg-10">
                        <input readonly class="form-control "  style="height: 35px; width:700px;" id="curl" type="text" name="anhbia" value = "{{AnhBia}}"required/>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="curl" class="control-label col-lg-2">Nội dung</label>
                         <div class="col-lg-10">
                        <textarea readonly class="form-control" style="height: 500px; width:700px;" id="txtFullDes" name="FullDes">{{NoiDung}}</textarea>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-lg-2 control-label">Ngày xuất bản:</label>
                         <div class="col-lg-10">
                          <input readonly class="form-control "  style="height: 35px; width:700px;" id="curl" type="text" name="anhbia" value = "{{NgayXuatBanFormat}}"required/>  
                        </div>
                       </div>            
                     <div class="form-group ">
                        <label for="curl" class="control-label col-lg-2"></label>
                        <div class="col-lg-10">                            
                          <button type="submit" class="btn btn-danger center-block" formaction="/admin/post/delete">                                  
                                   Xóa bài
                                </button>     
                        
                        </div>
                    </div>                    

                        </div>
                    </div>
                    
                      </div>
                    </div>
    {{/each}}            